{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ logo.image.url }}">
    {% if title %}
      <title>Diagnosis - {{title}}</title>
    {% else %}
      <title>Diagnosis</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static "landingpages/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpages/main.css" %}">
  </head>
  <body>
    <div class="bg-light">
      <a href="https://www.facebook.com/DiagnosisManzi/?ref=br_rs" target="_blank">FACEBOOK</a>
      <a href="https://www.facebook.com/DiagnosisManzi/?ref=br_rs" target="_blank">INSTAGRAM</a>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top rounded-bottom">
      <a href="{% url 'pagina-principal' %}" class="navbar-brand">
        <img class="rounded-0 bg-light" src="{{ logo.image.url }}" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex w-100 col-10 offset-1">
          {% if title == None %}
            <a class="nav-item nav-link active mx-auto" href="{% url 'pagina-principal' %}"><h5>Página Principal</h5><span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-item nav-link mx-auto" href="{% url 'pagina-principal' %}"><h5>Página Principal</h5><span class="sr-only">(current)</span></a>
          {% endif %}
          {% if title == 'Quem somos' %}
            <a class="nav-item nav-link active mx-auto" href="{% url 'quem-somos' %}"><h5>Quem somos</h5><span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-item nav-link mx-auto" href="{% url 'quem-somos' %}"><h5>Quem somos</h5><span class="sr-only">(current)</span></a>
          {% endif %}
          {% if title == 'Servicos' %}
            <a class="nav-item nav-link active mx-auto" href="{% url 'servicos' %}"><h5>Servicos</h5><span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-item nav-link mx-auto" href="{% url 'servicos' %}"><h5>Servicos</h5><span class="sr-only">(current)</span></a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div>
      {% block content %}{% endblock %}
    </div>
    <div id="bottomTextColor" class="row bg-dark p-5 text-center">
      <iframe id="map" class="embed-responsive col-lg-6 col-md-12 col-sm-12 mx-auto my-lg-auto my-sm-5" src="https://maps.google.com/maps?q=Rua+dos+Goitacazes,+103+-+Centro,+Belo+Horizonte+-+MG,+30190-910&t=45&z=17&ie=UTF8&output=embed" frameborder="0" allowfullscreen></iframe>
      <div class="col-lg-6 col-md-12 col-sm-12 mx-auto my-lg-auto my-md-5 my-sm-5">
        <p><strong>Endereço</strong><br>Rua dos Goitacases, 103 sala 1801 - Centro<br>Belo Horizonte/MG<br>30.190-910</p>
        <p><strong>Contato</strong><br>Email: suporte@diagnosislaudos.com.br<br>Telefone:<br>(31) 99481-5379</p>
        <p><strong>Feedback</strong><br>Por favor, envie seus comentários, sugestões, reclamações para que possamos sempre melhorar nossos serviços.</p>
      </div>
    </div>
    <script src="{% static "landingpages/jquery-3.3.1.js" %}"></script>
    <script src="{% static "landingpages/js/bootstrap.js" %}"></script>
    <script src="{% static "landingpages/main.js" %}"></script>
  </body>
</html>
