{% extends "landingpages/baseTemplate.html" %}
{% block content %}
<div>
  <div id="jumbotronParallax" class="jumbotron jumbotron-fluid col-12">
    <div class="container-fluid text-center col-12">
      <h1 class="display-4">Laudos à Distância</h1>
      <hr class="my-4">
      <p class="lead mb-5">Realizamos e auxiliamos clínicas de Radiologia Odontológica na confecção de laudos tomográficos, radiográficos e traçados cefalométricos odontológicos.</p>
      <a href="https://diagnosislaudos.com.br/intranet/form_cadastro_usuarios/" target="_blank" class="btn-lg btn-danger col-4">Não sou cliente</a>
      <a href="https://diagnosislaudos.com.br/intranet/app_Login/" target="_blank" class="btn-lg btn-info col-4 offset-1">Já sou cliente</a>
    </div>
  </div>
  <div id="parallax1"></div>
  <div id="jumbotronParallax" class="jumbotron jumbotron-fluid col-12">
    <div class="container-fluid text-center col-12">
      <h1 class="display-4">Quero ser um colaborador</h1>
      <hr class="my-4">
      <p class="lead mb-5">A Diagnosis possui colaboradores no Brasil inteiro que trabalham em suas casas, escritórios ou até mesmo quando estão em viagem. Faça parte dessa equipe!</p>
      <a href="https://diagnosislaudos.com.br/intranet/form_cadastro_usuarios/" target="_blank" class="btn-lg btn-info col-4">Quero me cadastrar</a>
    </div>
  </div>
  <div id="parallax2"></div>
</div>
{% endblock content %}
