{% extends "landingpages/baseTemplate.html" %}
{% block content %}
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-transparent">
      <div class="container-fluid text-center">
        <h1 class="display-4">Quem somos</h1>
        <hr class="my-5">
        <p class="lead">A Diagnosis é especialista em laudos a distância de forma eficiente, segura. Por meio de software próprio realizamos laudos de tomografia computadorizada, radiografia cefalométrica, panorâmica, periapical, entre outras.</p>
        <img class="img-fluid rounded my-4" src="{{ quemSomos.image.url }}" alt="">
        <p class="lead">Apresentamos o diferencial de ter uma equipe composta por profissionais de alto nível, especialistas, professores, mestres e doutores em radiologia, qualificados a atender as mais renomadas clínicas, instituições e organizações de radiologia. </p>
      </div>
    </div>
  </div>
{% endblock content %}
