{% extends "landingpages/baseTemplate.html" %}
{% block content %}
  <div class="container text-center mx-auto">
    <h1 class="my-5 display-4">Como funciona?</h1>
    <hr class="my-5">
    <figure class="figure col-lg-5 col-md-12 col-sm-12 my-4 align-top">
      <img src="{{ iconUpload.image.url }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <h5>Facilidade</h5>
      <p><strong>Upload das imagens</strong></p>
      <figcaption class="lead">Utilize o nosso sistema para enviar seus arquivos com muita simplicidade e o máximo de segurança</figcaption>
    </figure>
    <figure class="figure col-lg-5 col-md-12 col-sm-12 my-4 align-top">
      <img src="{{ iconDownload.image.url }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <h5>Facilidade</h5>
      <p><strong>Elaboração dos laudos</strong></p>
      <figcaption class="lead">Nossa equipe de professores, especialistas, mestres e doutores em Radiologia Odontológica elabora o seu laudo.</figcaption>
    </figure>
    <figure class="figure col-lg-5 col-md-12 col-sm-12 my-4 align-top">
      <img src="{{ iconWork.image.url }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      <h5>Facilidade</h5>
      <p><strong>Elaboração dos laudos</strong></p>
      <figcaption class="lead">Mantenha os seus laudos armazenados por até 90 dias na nuvem e baixe quando desejar.</figcaption>
    </figure>
  </div>
{% endblock content %}
